.sign-in {
    width: 380px;
    display: flex;
    flex-direction: column;

    .title{
        font-size: 30px;
        margin: 15px 0;
    }

    .subtitle{
        font-size: 20px;
        margin: 10px 0;
    }

    .buttons{
        display: flex;
        justify-content: space-between;
    }
}